body {
    font-size: 16px;
    font-family: 'Kalam', sans-serif;
}
#header-nav {
    background-color: #7161ef;
    border-radius: 0;
    border: 0;
}

.navbar-brand {
    padding-top: 25px;
}
.navbar-brand h1 { /* Company Name */
    font-family: 'Questrial', sans-serif;
    color: #ffffff;
    font-size: 1.6em;
    letter-spacing: 1.5px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: -9px;
    margin-bottom: 0;
    line-height: .75;

}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

/* Position fix for menu button */
/* button.navbar-toggle.collapsed {
    margin-top: 0px;
/* } */ /* Another selector already exist */

#nav-list {
    margin-top: 10px;
    font-weight: 500;
  }
  #nav-list a {
    color: #fff;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
  }
  #nav-list a:hover {
    background: #fff;
    color: #5704DB;
  }  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #ffffff;
  }
   /* From Bootstrp- override focus and hover bgcolor */
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #E7E7E7;
    border: solid 1px #000;
    box-shadow: 0px 0px 1px #000;
}

  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -41px;
  }
  
/* end of navbar styles. main content styles starting. */
#menu-header {
  font-family: 'Questrial', sans-serif;
  font-size: 1.9em;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 25px;
}
.menu-grid {
  background-color: #ffbebe;
  margin-bottom: 20px;
}
.BMS, .MAC, .CSP {
  padding: 10px 10px 5px 10px;
}
.menu-grid.BMS {
  background-color: #ffbebe;
}
.menu-grid.MAC {
    background-color: #beffcd;
}
.menu-grid.CSP {
    background-color: #befbff;
}
#menu-title {
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.ungradedsol {
  text-decoration: none;
  color: #5704DB;
}
.ungradedsol:hover {
  text-decoration: none underline;
  color: #000;
}